<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Welcome</title>
 </head>
 <body>
   <h2>Enter your puppy info!</h2>
   <form method="POST" action="/puppy">
      <p>Name: <input type="text" name="name"></p>
      <p>Breed: <input type="text" name="breed"></p>
      <p>Age: <input type="text" name="age"></p>
      <input type="submit" id="submit">
    </form>
    <div id=result></div>
 </body>
</html>
